<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			*{
				padding:0;
				margin: 0;
			}
			#box{
				margin: 100px 100px;
			}
			.button button{
				margin-left: 20px;
				padding:5px 10px;
				margin-bottom: 40px;
			}
			/*3*3*/
			.sbox{
				width:300px;
				height: 300px;
				border:1px solid #000;
				display: block;
			}
			.sbox div{
				box-sizing: border-box;
				width:100px;
				height: 100px;
				border: 1px solid #000;
				float: left;
				line-height: 100px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<div class="button"><button v-for="(i,index) in s" @click="btn(index)">{{i}}</button></div>
			<div class="sbox" :style="'width:'+ nums * 100 +'px'">
				<div v-for="(i,$index) in sarr" @click="btn2($index)">{{i}}</div>
			</div>
		</div>
	</body>
	<script src="vue.js"></script>
	<script>
		new Vue({
			el:'#box',
			data:{
				sarr:[],
				s:['3*3','4*4','5*5'],
				nums:'3',
			},
			methods:{
				btn(i){
					this.nums = parseInt(this.s[i])
					var num1 = parseInt(this.s[i])*parseInt(this.s[i])-1
					let arr = [];
	                for(let i=0;arr.length<num1;i++){
	                    let num = Math.ceil(Math.random()*num1)
	                    if(arr.indexOf(num)==-1){
	                        arr.push(num)
	                    }
	                }
	                this.sarr=arr;
	                this.sarr.push("");
				},
				btn2($index){
					var left = this.sarr[$index-1],
		                right = this.sarr[$index+1],
		                top = this.sarr[$index-this.nums],
		                bottom = this.sarr[$index+this.nums];
		              if (left == ''){
		                  this.$set(this.sarr,$index-1,this.sarr[$index])
		                  this.$set(this.sarr,$index,'')
		              }else if (right == '') {
		                  this.$set(this.sarr,$index+1,this.sarr[$index])
		                  this.$set(this.sarr,$index,'')
		              }else if(top == ''){
		                  this.$set(this.sarr,$index-this.nums,this.sarr[$index])
		                  this.$set(this.sarr,$index,'')
		              }else if(bottom == ''){
		                  this.$set(this.sarr,$index+this.nums,this.sarr[$index])
		                  this.$set(this.sarr,$index,'')
		              }
		          },
			}
		})
	</script>
</html>
