<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="./jquery.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <style>
        @font-face {
            font-family: 'iconfont';
            src: url('./font/iconfont.eot');
            src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
                url('./font/iconfont.woff2') format('woff2'),
                url('./font/iconfont.woff') format('woff'),
                url('./font/iconfont.ttf') format('truetype'),
                url('./font/iconfont.svg#iconfont') format('svg');
        }

        .iconfont {
            font-family: "iconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        ul {
            list-style: none;
        }

        .list li input,
        .list li button {
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="background-color:aqua;height: 50px;margin-bottom: 30px;">
            <div class="col-md-2 col-xs-2 col-sm-2" style="height:50px;line-height: 50px;text-align:center;"></div>
            <div class="col-md-8 col-xs-8 col-sm-8" style="height:50px;line-height: 50px;text-align:center;">记事本</div>
            <div class="col-md-2 col-xs-2 col-sm-2 iconfont" style="height:50px;line-height: 50px;text-align:center;">
                &#xe615;</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2" style="height:50px;line-height: 50px;text-align:center;"></div>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <div class="form-group">
                    <div class="input-group" style="width:100%;">
                        <input type="text" v-model="addthings" placeholder="待办事项" style="width:100%;">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <button type="submit" class="btn btn-primary" v-on:click="add">提交</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>未完成</h3>
            </div>
            <ul class="col-md-12 list" style="text-align:center;height:50px;">
                <li v-if="!list.length">还未添加事项!</li>
                <li class="col-md-12" v-else v-for="(item, index) in list" :key="index+item">
                    <input type="checkbox" name="" class="col-md-2" v-on:change="finish(item,index)" id="ipt1">
                    <div class="col-md-8" style="height:30px;">
                        {{item}}
                    </div>
                    <button class="col-md-2" style="width:100px;" v-on:click="cancel(item,index)">取消</button>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>已完成</h3>
            </div>
            <ul class="col-md-12 list" style="text-align:center;height:50px;">
                <li class="col-md-12" v-for="(item, index) in finishlist" :key="index+new Date()">
                    <input type="checkbox" name="" id="" class="col-md-2" @change="restore(item, index)">
                    <div class="col-md-8" style="height:30px;">
                        {{item}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>已取消</h3>
            </div>
            <ul class="col-md-12 list" style="text-align:center;height:50px;">
                <li class="col-md-12" v-for="(item, index) in cancellist" :key="index+1">
                    <div class="col-md-10" style="height:30px;">
                        {{item}}
                    </div>
                    <button class="col-md-2" style="width:100px;" @click="restore(item, index)">恢复</button>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '.container',
        data() {
            return {
                addthings: '',
                list: [],
                finishlist: [],
                cancellist: [],
            }
        },
        methods: {
            add() {
                if (this.addthings == '') {
                    alert('请输入添加事项')
                } else {
                    this.list.push(this.addthings)
                    this.addthings = ''

                }
            },
            finish(item, index) {
                if ($('#ipt1').is(':checked')) {
                    this.list.splice(index, 1)
                    this.finishlist.push(item)
                console.log(this)
                }
            },
            cancel(item, index) {
                this.list.splice(index, 1)
                this.cancellist.push(item)
            },
            restore(item, index) {
                this.cancellist.splice(index, 1)
                this.list.push(item)
                this.finishlist.splice(index, 1)
                console.log(item, index)
            },
            del(index) {
                this.finishlist.splice(index, 1)
            }
        },
    })
</script>

</html>